.banner__container{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.banner__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner__img{
    width: 50%;
    height: 100%;
    transition: width 0.5s ease-in-out;
}