button{
    border: none;
    border-radius: var(--radius-1);
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.5rem 1.5rem;
}

button:hover{
    background-color: var(--color-primary-hover);
}

.button--banner{
    align-self: self-start;
}